/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
  color: $color-links;
  text-decoration: none;

  @include hocus() {
    text-decoration: none;
  }

}
