///*----------------------------------*\
//  #MQ
//\*----------------------------------*/

///
// Pre-configuration for Sass MQ.
//

$mq-breakpoints: (
        mobile: 601px,
        desktop: 1401px
);
